{% extends 'base.html' %}

{% block header %}
<div class="flex text-gray-800 text-4xl">{% block title %}Creating a New Episode of <div class="pl-2 font-medium italic text-indigo-700">{{ show['title'] }}</div> {% endblock %}</div>
{% endblock %}

{% block content %}

<!-- make date picker in chrome pop open if clicked anywhere, not just little calendar icon -->
<style>
  input[type="date"] {
    position: relative;
}

/* create a new arrow, because we are going to mess up the native one
see "List of symbols" below if you want another, you could also try to add a font-awesome icon.. */
input[type="date"]:after {
    content: "\25BC";
    color: #555;
    padding: 0 5px;
}

/* change color of symbol on hover */
input[type="date"]:hover:after {
    color: #bf1400;
}

/* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
}

/* adjust increase/decrease button */
input[type="date"]::-webkit-inner-spin-button {
    z-index: 1;
}

 /* adjust clear button */
 input[type="date"]::-webkit-clear-button {
     z-index: 1;
 }
</style>


<div class="text-gray-800">
  <form class="rounded px-8 pt-6 pb-8 mb-4" id="new_episode_form">
    <label class="block font-bold text-lg mb-2" for="title">Episode Title</label>
    <input class="block w-full border-2 px-2 py-2 mb-4" name="title" id="title" value="{{ request.form['title'] }}" required>
    <label class="block font-bold text-lg mb-2" for="air_date">
      Air Date
      ({{ weekdays[show['day_of_week']] }} at {{ show['start_time'].strftime('%I:%M %p') }})
    </label>
    <input class="block w-full border-2 px-2 py-2 mb-4 mr-2" type="date" name="air_date" id="air_date" min="{{ next_show.strftime('%Y-%m-%d') }}" step="7" required>
    <label class="block font-bold text-lg mb-2" for="audio_file">Episode Audio File</label>
    <input class="block w-full border-2 px-2 py-2 mb-4" type="file" id="audio_file" name="audio_file" accept="audio/*" required>
    <label class="block font-bold text-lg mb-2" for="description">Description (optional)</label>
    <textarea class="block w-full border-2 px-2 py-2 mb-4" name="description" id="description">{{ request.form['description'] }}</textarea>
    <input class="w-full font-bold text-lg border-2 rounded px-2 py-2" type="button" value="Save" onclick="upload()">
  </form>

  <div id="loading_indicator" class="hidden">
    Loading...
  </div>

  <script>
    async function sha1(data) {
        const hashBuffer = await crypto.subtle.digest('SHA-1', data);
        const hashArray = Array.from(new Uint8Array(hashBuffer))
        const hashHex = hashArray.map(b => b.toString(16).padStart(2, '0')).join('')
        return hashHex
    }

    async function upload() {
        const token = "{{ upload['authorizationToken'] }}"
        const url = "{{ upload['uploadUrl'] }}"

        const audio_file = document.getElementById('audio_file').files[0]
        const audio_buf = await audio_file.arrayBuffer()
        const audio_file_sha1 = await sha1(audio_buf)

        try {
            // TODO loading spinner/bar
            document.querySelector("#loading_indicator").style.display = "block"
            const response = await fetch(url, {
                method: 'POST',
                body: audio_file,
                headers: {
                    'Authorization': token,
                    'X-Bz-File-Name': audio_file_sha1,
                    'Content-Type': audio_file.type,
                    'X-Bz-Content-Sha1': audio_file_sha1,
                    'X-Bz-Info-original-filename': encodeURIComponent(audio_file.name),
                    'X-Bz-Info-show-title': encodeURIComponent("{{ show['title'] }}"),
                    'X-Bz-Info-episode-title': encodeURIComponent(document.getElementById('title').value),
                    'X-Bz-Info-air-date': encodeURIComponent(document.getElementById('air_date').value),
                    'X-Bz-Info-uploader-uid': {{ g.user['id'] }}
                },
            })
            const response_json = await response.json();
            var air_date = new Date(document.getElementById('air_date').value)

            const form_response = await fetch(window.location.href.split('?')[0], {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    'title': document.getElementById('title').value,
                    'air_date': air_date.getTime() / 1000, // ms -> sec
                    'file_id': response_json['fileId'],
                    'description': document.getElementById('description').value,
                })
            })

        } catch(err) {
            console.log(`error: ${err}`)
        }

        location.href = "{{ url_for('scheduler.index') }}"
    }
  </script>
  {% endblock %}
</div>
