{% extends 'base.html' %}

{% block header %}
<div class="flex text-4xl text-gray-800 py-2">
  {% block title %}Creating a New Show{% endblock %}
</div>
{% endblock %}

{% block content %}
<div id="error_banner" class="font-bold border-4 mx-8 p-2 text-xl bg-red-300 hidden"></div>
<div class="text-gray-800">
  <form class="rounded px-8 mb-4" method="post">
    <label class="block font-bold text-lg mb-2" for="title">Show Title</label>
    <input class="block w-full border-2 p-2 mb-4" name="title" id="title" required>
    <label class="block font-bold text-lg mb-2" for="day_of_week">Schedule
      <div class="flex">
        <select id="day_of_week" name="day_of_week">
          <option value="1">Mondays</option>
          <option value="2">Tuesdays</option>
          <option value="3">Wednesdays</option>
          <option value="4">Thursdays</option>
          <option value="5">Fridays</option>
          <option value="6">Saturdays</option>
          <option value="7">Sundays</option>
        </select>
        <div class="px-2">at</div>
        <select id="start_time" name="start_time">
          <option>1:00</option>
          <option>2:00</option>
          <option>3:00</option>
          <option>4:00</option>
          <option>5:00</option>
          <option>6:00</option>
          <option>7:00</option>
          <option>8:00</option>
          <option>9:00</option>
          <option>10:00</option>
          <option>11:00</option>
          <option selected>12:00</option>
        </select>
        <div class="px-2"></div>
        <select id="ampm" name="ampm">
          <option>AM</option>
          <option selected>PM</option>
        </select>
      </div>
    </label>
    <label class="block font-bold text-lg mb-2" for="djs">DJs (may select multiple)</label>
    <select class="block w-full border-2 p-2 mb-4" multiple name="djs" id="djs">
      {% for dj in djs %}
      <option value="{{ dj['id'] }}">{{ dj['name'] }}</option>
      {% endfor %}
    </select>
    <label class="block font-bold text-lg mb-2" for="description">Show Description</label>
    <textarea class="block w-full border-2 p-2 mb-4" name="description" id="description">{{ request.form['description'] }}</textarea>
    <label class="block font-bold text-lg mb-2" for="file_path">Station Playlist File Path (must match Station Playlist settings)</label>
    <input class="block w-full border-2 p-2 mb-4" name="file_path" id="file_path" required>
    <input class="w-full font-bold text-lg border-2 rounded p-2" type="button" value="Save" onclick="upload()">
  </form>
</div>

<script>
    async function upload() {
        let hour = document.getElementById('start_time').value
        let ampm = document.getElementById('ampm').value
        let djs = document.getElementById('djs').selectedOptions
        let djs_arr = []
        for (var i = 0; i < djs.length; i++) {
            djs_arr.push(Number(djs[i].value))
        }

        const post = await fetch(window.location.href.split('?')[0], {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                'title': document.getElementById('title').value,
                'djs': djs_arr,
                'start_time': hour + " " + ampm,
                'day_of_week': Number(document.getElementById('day_of_week').value),
                'description': document.getElementById('description').value,
                'file_path': document.getElementById('file_path').value,
            })
        })

        const response = await post.json()
        if (response.error) {
            let error_banner = document.getElementById('error_banner')
            error_banner.innerText = response.error
            error_banner.style.display = "block"
        }

        if (response.redirect) {
            window.location.href = response.redirect
        }
    }
</script>

{% endblock %}
