{% extends 'base.html' %}

{% block header %}
<h1 class="text-4xl text-gray-800">{% block title %}My Shows and Episodes{% endblock %}</h1>
<a class="px-1 py-1 text-gray-800 rounded-full h-fit bg-indigo-300 text-xs" href="{{ url_for('scheduler.create_show') }}">New Show</a>
{% endblock %}

{% block content %}
{% for show in shows %}
<article class="px-4 py-6 border text-gray-800">
  <header class="flex items-center justify-between mb-6">
    <div class="flex items-center">
      <h2 class="font-bold text-3xl text-indigo-700 mr-1">{{ show['title'] }}</h2>
      <a class="ml-8 px-4 py-2 font-semibold text-sm bg-indigo-500 text-white rounded-full shadow-sm" href="{{ url_for('scheduler.create_episode', id=show['id']) }}">New Episode</a>
    </div>
  </header>
  <div class="font-semibold text-xl italic pb-4">
    {{ show['day_of_week'] }}s at {{ show['start_time'].strftime('%I:%M %p') }}
  </div>

  <p class="text-lg mb-2">{{ show['description'] }}</p>
  <a class="underline text-xs" href="{{ url_for('scheduler.update_show', id=show['id']) }}">Edit Show</a>
  <div class="text-xs text-gray-400 italic mb-4">
    <p>
      Show created by {{ show['creator'] }} on <span class="create_update_time">{{ show['created_at'].isoformat() }}</span>
    </p>
    <p>
      Show updated by {{ show['updater'] }} on <span class="create_update_time">{{ show['updated_at'].isoformat() }}</span>
    </p>
  </div>
  <div class="my-2 flex justify-between">
    <div class="text-2xl italic text-indigo-600">
      {% if episodes[show['id']] %}
      Upcoming Episodes
      {% else %}
      No Upcoming Episodes Scheduled
      {% endif %}
    </div>
  </div>
  {% for episode in episodes[show['id']] %}
  <section class="my-2 mx-4 px-2 py-4 border">
    <div class="flex items-center">
      <div class="text-xl font-bold mb-2">Episode scheduled for <span class="air_date">{{ episode['air_date'].strftime('%Y-%m-%d %I:%M %p') }}</span></div>
      <form action="{{ url_for('scheduler.delete_episode', id=episode['id']) }}" method="post">
        <input class="ml-4 px-2 py-1 text-xs font-semibold bg-red-700 text-white rounded-full" type="submit" value="Delete Episode" onclick="return confirm('Are you sure you want to delete this episode?');">
      </form>
    </div>
    <div class="text-3xl text-indigo-600 mr-1 mb-2">{{ episode['title'] }}</div>
    <p class="text-lg mb-2">{{ episode['description'] }}</p>
    <p class="text-lg italic mb-2">Uploaded filename: {{ episode['original_filename'] }}</p>
    <div class="text-xs text-gray-400 italic">
      <p>
        Episode created by {{ episode['creator'] }} on <span class="create_update_time">{{ episode['created_at'].isoformat() }}</span>
      </p>
      <p>
        Episode updated by {{ episode['updater'] }} on <span class="create_update_time">{{ episode['updated_at'].isoformat() }}</span>
      </p>
    </div>
  </section>
  {% endfor %}
</article>
{% endfor %}

<script type="text/javascript">
  // display created/modified timestamps in user local time
  let dates = document.getElementsByClassName("create_update_time")
  for (let d of dates) {
      d.textContent = new Date(d.textContent).toString()
  }
</script>

{% endblock %}
