{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}My Programs and Shows{% endblock %}</h1>
<a class="action" href="{{ url_for('scheduler.create_program') }}">New Program</a>
{% endblock %}

{% block content %}
{% for program in programs %}
<article class="program">
  <header>
    <h2>{{ program['title'] }}</h2>
    <a class="action" href="{{ url_for('scheduler.update_program', id=program['id']) }}">Edit Program</a>
    <a class="action" href="{{ url_for('scheduler.create_show', id=program['id']) }}">New Show</a>
  </header>
  <p class="body">{{ program['description'] }}</p>
  <div class="about">
    <p>
      Created by {{ program['creator'] }} on <span class="create_update_time">{{ program['created_at'].isoformat() }}</span>
    </p>
    <p>
      Updated by {{ program['updater'] }} on <span class="create_update_time">{{ program['updated_at'].isoformat() }}</span>
    </p>
  </div>
  {% for show in shows[program['id']] %}
  <section class="show">
    <header>
      <h3>{{ show['title'] }}</h3>
      <a class="action" href="{{ url_for('scheduler.update_show', id=show['id']) }}">Edit Show</a>
    </header>
    <h4>Scheduled to Air <span class="air_date">{{ show['air_date'] }}</span></h4>
    <p class="body">
      {{ show['description'] }}
    </p>
    <div class="about">
      <p>
        Show created by {{ show['creator'] }} on <span class="create_update_time">{{ show['created_at'].isoformat() }}</span>
      </p>
      <p>
        Show updated by {{ show['updater'] }} on <span class="create_update_time">{{ show['updated_at'].isoformat() }}</span>
      </p>
    </div>
  </section>
  {% if loop.last %}
  <hr>
  {% endif %}
  {% endfor %}
</article>
{% endfor %}

<script type="text/javascript">
  // display created/modified timestamps in user local time
  let dates = document.getElementsByClassName("create_update_time")
  for (let d of dates) {
      d.textContent = new Date(d.textContent).toString()
  }
</script>

{% endblock %}
