{% extends 'base.html' %}

{% block header %}
<h1 class="text-4xl">{% block title %}My Programs and Shows{% endblock %}</h1>
<a class="underline text-xs" href="{{ url_for('scheduler.create_program') }}">New Program</a>
{% endblock %}

{% block content %}
{% for program in programs %}
<article class="px-4 py-6 border">
  <header class="flex items-center justify-between mb-6">
    <div class="flex items-center">
      <h2 class="font-bold text-3xl text-indigo-700 mr-1">{{ program['title'] }}</h2>
      <a class="underline text-xs" href="{{ url_for('scheduler.update_program', id=program['id']) }}">Edit Program</a>
    </div>
    <div>
      <a class="action underline" href="{{ url_for('scheduler.create_show', id=program['id']) }}">New Show</a>
    </div>
  </header>
  <p class="text-lg mb-2">{{ program['description'] }}</p>
  <div class="text-xs text-gray-400 italic">
    <p>
      Program created by {{ program['creator'] }} on <span class="create_update_time">{{ program['created_at'].isoformat() }}</span>
    </p>
    <p>
      Program updated by {{ program['updater'] }} on <span class="create_update_time">{{ program['updated_at'].isoformat() }}</span>
    </p>
  </div>
  {% for show in shows[program['id']] %}
  <section class="px-2 py-4 border">
    <div class="flex items-center">
      <div class="text-3xl text-indigo-600 mr-1">{{ show['title'] }}</div>
      <a class="underline text-xs" href="{{ url_for('scheduler.update_show', id=show['id']) }}">Edit Show</a>
    </div>
    <div class="text-xl font-bold mb-2">Scheduled to Air <span class="air_date">{{ show['air_date'] }}</span></div>
    <p class="text-lg mb-2">{{ show['description'] }}</p>
    <div class="text-xs text-gray-400 italic">
      <p>
        Show created by {{ show['creator'] }} on <span class="create_update_time">{{ show['created_at'].isoformat() }}</span>
      </p>
      <p>
        Show updated by {{ show['updater'] }} on <span class="create_update_time">{{ show['updated_at'].isoformat() }}</span>
      </p>
    </div>
  </section>
  {% if loop.last %}
  <hr>
  {% endif %}
  {% endfor %}
</article>
{% endfor %}

<script type="text/javascript">
  // display created/modified timestamps in user local time
  let dates = document.getElementsByClassName("create_update_time")
  for (let d of dates) {
      d.textContent = new Date(d.textContent).toString()
  }
</script>

{% endblock %}
