{% extends 'base.html' %}

{% block header %}
<div class="flex text-4xl">{% block title %}Edit "{{ program['title'] }}"{% endblock %}</div>
{% endblock %}

{% block content %}
<form class="rounded px-8 pt-6 pb-8 mb-4" method="post">
  <label class="block font-bold text-lg mb-2" for="title">Program Title</label>
  <input class="block w-full border-2 px-2 py-2 mb-4" name="title" id="title" value="{{ request.form['title'] or program['title'] }}" required>
  <label class="block font-bold text-lg mb-2" for="co_hosts">Select any Co-Owners of This Program</label>
  <select class="block w-full border-2 px-2 py-2 mb-4" multiple name="co_hosts" id="co_hosts">
    {% for dj in djs %}
    {% if dj in hosts %}
    <option value="{{ dj['id'] }}" selected>{{ dj['name'] }}</option>
    {% else %}
    <option value="{{ dj['id'] }}">{{ dj['name'] }}</option>
    {% endif %}
    {% endfor %}
  </select>
  <label class="block font-bold text-lg mb-2" for="description">Description</label>
  <textarea class="block w-full border-2 px-2 py-2 mb-4" name="description" id="description">{{ request.form['description'] or program['description'] }}</textarea>
  <input class="w-full font-bold text-lg border-2 rounded px-2 py-2" type="submit" value="Save">
</form>
{% endblock %}
