{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}My Shows and Episodes{% endblock %}</h1>
<a class="action" href="{{ url_for('scheduler.create_show') }}">New Show</a>
{% endblock %}

{% block content %}
{% for show in shows %}
<article class="show">
  <header>
    <h2>{{ show['title'] }}</h2>
    <a class="action" href="{{ url_for('scheduler.update_show', id=show['id']) }}">Edit Show</a>
    <a class="action" href="{{ url_for('scheduler.create_episode', id=show['id']) }}">New Episode</a>
  </header>
  <p class="body">{{ show['description'] }}</p>
  <div class="about">
    <p>
      Created by {{ show['creator'] }} on <span class="create_update_time">{{ show['created_at'].isoformat() }}</span>
    </p>
    <p>
      Updated by {{ show['updater'] }} on <span class="create_update_time">{{ show['updated_at'].isoformat() }}</span>
    </p>
  </div>
  {% for episode in episodes[show['id']] %}
  <section class="episode">
    <header>
      <h3>{{ episode['title'] }}</h3>
      <a class="action" href="{{ url_for('scheduler.update_episode', id=episode['id']) }}">Edit Episode</a>
    </header>
    <h4>Scheduled to Air <span class="air_date">{{ episode['air_date'] }}</span></h4>
    <p class="body">
      {{ episode['description'] }}
    </p>
    <div class="about">
      <p>
        Episode created by {{ episode['creator'] }} on <span class="create_update_time">{{ episode['created_at'].isoformat() }}</span>
      </p>
      <p>
        Episode updated by {{ episode['updater'] }} on <span class="create_update_time">{{ episode['updated_at'].isoformat() }}</span>
      </p>
    </div>
  </section>
  {% if loop.last %}
  <hr>
  {% endif %}
  {% endfor %}
</article>
{% endfor %}

<script type="text/javascript">
  // display created/modified timestamps in user local time
  let dates = document.getElementsByClassName("create_update_time")
  for (let d of dates) {
      d.textContent = new Date(d.textContent).toString()
  }
</script>

{% endblock %}
